{% extends 'base_template.html'%}
{%block content%}
<h1>Urls are</h1>
<ol>
    <!-- <li>
        <a href={% url 'productform' %}> Productform </a>
    </li> -->
    <li>
        <a href={% url 'upload_files_view' %}> Upload files </a>
    </li>
    <li>
        <a href={% url 'show_files_view' %}> Show uploaded files </a>
    </li>
    <li>
        <a href={% url 'drop_product_data_view' %}> Delete all data </a>
    </li>
    <!-- <li>
        <a href={% url 'search_product' %}> search_product </a>
    </li> -->
    <!-- <li>
        <a href={% url 'get_csv_view' %}> get_csv_view </a>
    </li> -->
    <li>
        <a href={% url 'searchpage' %}> Search or Filter </a>
    </li>
</ol>






{%endblock%}